.home_container {
  padding: 70px 0 100px;

  @media (max-width: 960px) {
    padding: 60px 0 100px;
  }

  @media (max-width: 768px) {
    padding: 50px 0 100px;
  }

  .title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 36px;
  }
}
