.searchbox {
  display: flex;
  align-items: center;
  max-width: 320px;
  width: 100%;
  border: 1px solid #222;
  border-radius: 16px;
  height: 34px;
  padding: 2px 12px;

  @media (max-width: 768px) {
    max-width: unset;
  }

  .search_icon {
    width: 16px;
    fill: #222;
  }

  .search_input {
    width: 100%;
    border: none;
    font-size: 14px;
    margin-left: 6px;
  }

  .x_icon {
    height: 10px;
    fill: #222;
    cursor: pointer;
  }
}
