@import "../../styles/variables.scss";

.searchbox {
  position: relative;
  max-width: 300px;
  width: 100%;

  @media (max-width: 960px) {
    max-width: 460px;
    margin: auto;
  }

  @media (max-width: 768px) {
    max-width: unset;
  }

  .searchbox_form {
    display: flex;
    align-items: center;
    border: $border;
    border-radius: 16px;
    height: 36px;
    padding: 2px 12px;

    .search_icon {
      width: 16px;
      fill: #222;
    }

    .search_input {
      width: 100%;
      border: none;
      font-size: 14px;
      margin-left: 6px;
    }

    .x_icon {
      height: 10px;
      fill: $primaryColor;
      cursor: pointer;
    }
  }
}
