@import "../../../styles/variables.scss";

.autocomplete {
  position: absolute;
  top: 42px;
  width: 100%;
  z-index: 999;

  .list_item {
    display: flex;
    align-items: center;
    height: 35px;
    border: 1px solid gray;
    border-top: none;
    background: white;
    padding: 10px 12px;
    color: gray;
    cursor: pointer;
  }

  .list_item:first-child {
    border-top: 1px solid gray;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .list_item:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .list_item_active {
    background: $primaryColor !important;
    color: white;
  }

  .list_item:hover {
    background: gray;
    color: white;
  }
}
