@import "./base.scss";

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: auto;

  @media (max-width: 1160px) {
    padding: 0 20px;
  }

  @media (max-width: 360px) {
    padding: 0 16px;
  }
}

.flex_space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border_top_right_radius-16 {
  border-top-right-radius: 16px;
}

.border_bottom_left_radius-16 {
  border-bottom-left-radius: 16px;
}
