@import "../../styles/variables.scss";

.show_more {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .show_more_btn {
    width: 200px;
    height: 40px;
    color: white;
    background-color: $primaryColor;
    border-radius: 16px;
    font-size: 16px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
