@import "../../styles/variables.scss";

.items_per_page {
  @media (max-width: 960px) {
    display: none;
  }

  .list_item {
    border: $border;
    border-right: 0;
    box-sizing: border-box;

    button {
      width: 32px;
      height: 32px;
      background: none;
    }
  }

  .list_item:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .list_item:last-child {
    border-right: $border;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .active_item {
    background: $primaryColor;
    button {
      color: white;
    }
  }
}
