.pokemons_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}

@keyframes bounce {
  5%,
  95% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
}
