.pokemons_list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
  margin-top: 20px;

  @media (max-width: 960px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-top: 24px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: 380px) {
    grid-template-columns: 1fr;
  }

  .load_more_loading_p {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.nothing_was_found {
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
}
